<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="<%= image_path('angle/logo.png') %>" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGNUP TODAY!</p>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class:"mb-lg") do |f| %>
            <div class="form-group has-feedback">
              <%= f.input :first_name, autofocus: true %>
            </div>
            <div class="form-group has-feedback">
              <%= f.input :last_name, required: true, autofocus: true %>
            </div>
            <div class="form-group has-feedback">
              <%= f.input :email, placeholder: "Enter email", autocomplete:"off", required:"required",input_html: {class: "form-control"}, label_html:{class: "text-muted"}  %>
               <!--<span class="fa fa-envelope form-control-feedback text-muted"></span>-->
            </div>
            <div class="form-group has-feedback">
              <%= f.input :password, placeholder: "Password",autocomplete:"off", required:"required", input_html: {class: "form-control"}, label_html:{class: "text-muted"}, hint: ("#{@minimum_password_length} characters minimum" if @validatable)  %>
               <!--<span class="fa fa-lock form-control-feedback text-muted"></span>-->
            </div>
            <div class="form-group has-feedback">
              <%= f.input :password_confirmation, placeholder: "Retype Password",autocomplete:"off", required:"required", input_html: {class: "form-control"}, label_html:{class: "text-muted"}  %>
               <!--<span class="fa fa-lock form-control-feedback text-muted"></span>-->
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">

               </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class:"btn btn-block btn-primary mt-lg"  %>
            </div>
         <p class="pt-lg text-center">Have an account?</p><%= link_to "Login", new_user_session_path, class:"btn btn-block btn-default" %>
            <% end %>
      </div>
   </div>
</div>
