<div id="profile" role="tabpanel" class="tab-pane">
<p id="notice"><%= notice %></p>
<h1>Listing Transactions</h1>
  <div class="table-responsive">

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Amount</th>
      <th>Trans date</th>
      <th>Trans time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!--<tbody>-->
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.task %></td>
        <td><%= number_to_currency transaction.amount %></td>
        <td><%= transaction.trans_date %></td>
        <td><%= transaction.trans_time %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
<!---->
<br>
<%= link_to 'New Transaction', new_transaction_path %>
</div>