<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @transaction.task %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Trans date:</strong>
  <%= @transaction.trans_date %>
</p>

<p>
  <strong>Trans time:</strong>
  <%= @transaction.trans_time %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
